@mixin flex-row{
  display: flex;
  flex-direction: row;
}
@mixin font-color{
  font-size: 26px;
  color: #f7d7ae;
}
.container{
  width: 100vw;
  height: 100vh;
  color: #000;
  font-size: 26px;

  .header{
    width: 100%;
    height: 20%;
    background-color: #f7d7ae;
    color: #0cc;

    .head_Content{
      width: 100%;
      height: 120px;
      position: fixed;
      top: calc(10% - 60px);
      @include flex-row;

      .header_Img{
        width: 120px;
        height: 120px;
        border-radius: 120px;
        border: 2px solid #fff;
        margin-left: 30px;
      }
      .user_Msg{
        width: 300px;
        height: 120px;
        margin-left: 20px;

        .phone{
          color: #fff;
          font-size: 40px;
        }
        .sign_In{
          width: 220px;
          height: 40px;
          border-radius: 40px;
          background-color: white;
          margin-top: 20px;
          @include font-color;
          @include flex-row;

          .icon{
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 20px;
          }
          .cont{
            margin-left: 10px;
            line-height: 40px;
          }
        }
      }
      .member{
        width: 220px;
        height: 80px;
        background-color: #000;
        position: absolute;
        right: 0;
        border-bottom-left-radius: 80px;
        border-top-left-radius: 80px;
        @include flex-row;
        @include font-color;
        line-height: 80px;

        .member_Img{
          width: 50px;
          height: 50px;
          margin-left: 30px;
          margin-top: 15px;
        }
        .recharge{
          margin-left: 5px;
        }
      }
    }
  }
  .center{
    width: 94%;
    height: auto;
    position: fixed;
    left: 3%;
    border: 1px solid red;
    background: #f2eee9;
    .item{
      padding-bottom: 20px;
      margin-top: 20px;
      background: #fff;

      .title{
        width: 100%;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px solid #999;

        .next{
          position: absolute;
          right: 0;
        }
      }
      .item_content{
        width: 100%;
        height: 100px;
        text-align: center;
        margin-top:20px;

        .box{
          width: 20%;
          height: 100%;
          float: left;
          position: relative;

          image{
            display: block;
            width: 50px;
            height: 50px;
            margin-left: calc(50% - 25px);
          }
          .item_Num{
            display: block;
          }
          .text{
            line-height: 60px;
          }
        }
      }
      .item_Cont_Img{
        width: 100%;
        height: 150px;
        margin-top:20px;
        display: block;
      }
    }
  }
}

